#setup-page-wrap {
  background-color: rgba(0, 0, 0, 0.01);
  padding-top: 20px;
  font-family: 'Open Sans Condensed', sans-serif; }
  #setup-page-wrap button {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); }

.top-nav {
  background-color: black; }
  .top-nav .nav-link a {
    color: #FFF; }

.modal {
  display: block; }
  .modal .modal-content {
    position: relative; }
    .modal .modal-content .close {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 9; }

.line-height-1 {
  line-height: 1; }

.cursor-pointer {
  cursor: pointer; }

.img-responsive {
  width: 100%; }

.category-list {
  padding-right: 10px; }
  .category-list .category-list-title {
    border-bottom: 1px solid #ced4da;
    padding-bottom: 5px; }
  .category-list .category {
    font-size: 1.2rem; }
    .category-list .category .edit-icons {
      font-size: 0.9rem;
      color: #6c757d;
      display: none; }
      .category-list .category .edit-icons:hover {
        color: #343a40; }
    .category-list .category:hover a {
      color: #000000 !important; }
    .category-list .category:hover .edit-icons {
      display: block; }

.template .template-image {
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  width: 100%;
  padding-bottom: 65%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .template .template-image .template-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: none; }
  .template .template-image .template-actions {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    display: none; }
    .template .template-image .template-actions button {
      position: relative;
      width: 45%; }
  .template .template-image .action-buttons {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10; }
  .template .template-image:hover .action-buttons, .template .template-image:hover .template-overlay, .template .template-image:hover .template-actions {
    display: block; }

.template-search .clear-search {
  margin-left: -20px;
  font-size: 1.2rem; }

.file-upload-area {
  padding: 5px;
  border: 1px dashed #ced4da;
  position: relative; }
  .file-upload-area .file-preview {
    max-width: 30%;
    width: 120px; }
    .file-upload-area .file-preview img {
      width: 100%;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); }
  .file-upload-area input {
    display: none !important; }
  .file-upload-area.is-dragging .file-upload-mask {
    display: block; }
  .file-upload-area .file-upload-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
    left: 0;
    background: rgba(0, 0, 0, 0.3); }

.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: rgba(255, 255, 255, 0.6); }

.form-status {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%); }
  .form-status .progress {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); }

.template-preview {
  padding: 20px; }
  .template-preview iframe {
    width: 100%;
    height: 100%; }

.footer {
  margin: 40px;
  padding: 20px 0;
  border-top: 1px solid #dee2e6;
  font-size: 90%; }

@media (min-width: 992px) {
  .modal-fill {
    margin: 5px;
    max-width: initial;
    height: calc(100% - 10px);
    width: calc(100% - 10px); }
    .modal-fill .modal-content {
      height: 100%; } }

.modal-content {
  overflow: auto; }

.template-small-image {
  height: 30px;
  width: 40px;
  transition: transform 200ms;
  transform-origin: 0; }
  .template-small-image:hover {
    transform: scale(5);
    z-index: 2;
    position: relative; }
