@import "variables";

#setup-page-wrap {
    background-color: rgba(0,0,0,0.01);
    padding-top: 20px;

    font-family: 'Open Sans Condensed', sans-serif;
    // font-family: 'Lato', sans-serif;
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Raleway', sans-serif;

     button {
             box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
         }
}

.top-nav {
    background-color: black;
    .nav-link a {
        color: #FFF;
        }
}

.modal {
    display: block;
    .modal-content {
        position: relative;
        .close {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 9;
        }
    }
}
.line-height-1 {
    line-height: 1;
}
.cursor-pointer {
    cursor: pointer;
}

.img-responsive {
    width: 100%;
}


.category-list {
    padding-right: 10px; 
    .category-list-title {
        border-bottom: 1px solid $gray-400;
        padding-bottom: 5px;
    }
    .category {
        font-size: 1.2rem;
        .edit-icons {
            font-size: 0.9rem;
            color: $gray-600;
            display: none;
            &:hover {
                color: $gray-800;
            }
        }
        &:hover {
            a {
                color: #000000 !important;
            }
            .edit-icons {
                display: block;
            }
        }
    }

}

.template{
    .template-image {
        position: relative;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
        overflow: hidden;
        width: 100%;
        padding-bottom: 65%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .template-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba($color: #FFF, $alpha: 0.5);
            display: none;
            
        }
        .template-actions {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            text-align: center;
            display: none;
            button {
                position: relative;
                width: 45%;
                
                // &.preview-btn {

                // }
                // &.select-btn {
                    
                // }
            }
        }
        .action-buttons {
            display: none;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 10;
        }
        // .edit-button, .delete-button {
            
        // }
        &:hover {
            .action-buttons, .template-overlay, .template-actions {
                display: block;
            }
        }
        //.btn {
        //    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
        //}
    }
}

.template-search {
    .clear-search {
        margin-left: -20px;
        font-size: 1.2rem;
    }
}

.file-upload-area {
    padding: 5px;
    border: 1px dashed $gray-400;
    position: relative;
    .file-preview {
        max-width: 30%;
        width: 120px;
        img {
            width: 100%;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);

        }
        //button {
        //    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
        //}
        
    }
    input {
        display: none !important;
    }
    &.is-dragging {
        .file-upload-mask { 
            display: block;
        }
    }
    .file-upload-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        // display: none;
        z-index: 2;
        left: 0;
        background: rgba($color: #000000, $alpha: 0.3);
    }
}

// .site-form-wrapper, .template-select {
//     // background-color: #FFF;
//     // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
// }

.backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: rgba($color: #FFF, $alpha: 0.6);
}

.form-status {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    .progress {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    }
}

.template-preview {
    padding: 20px;
    iframe {
        width: 100%;
        height: 100%;
    }
}
.footer {
    margin: 40px;
    padding: 20px 0;
    border-top: 1px solid $gray-300;
    font-size: 90%;
}

@media (min-width: 992px) {
    .modal-fill {
        margin: 5px;
        max-width: initial;
        height: calc(100% - 10px);
        width: calc(100% - 10px);
        .modal-content {
            height: 100%;
        }
    } 
}
.modal-content {
    overflow: auto;
}

.template-small-image {
    height: 30px;
    width: 40px;
    transition: transform 200ms;
    transform-origin: 0;
    &:hover {
        transform: scale(5);
        z-index: 2;
        position: relative;
    }
}